{% extends "accounts/accounts-base.html" %}

{% load bootstrap3 %}

{% block title %}修改个人信息 {% endblock %}

{% block account_content %}
<div class="container">
<div class="row">
	<div  style="margin-left:auto; margin-right:auto; width:50%">
		<form action="{% url 'edit_profile' %}" method="post" class="form" enctype="multipart/form-data">
		{% csrf_token %}
		{% bootstrap_form form %}
		<button type="submit" class="btn btn-primary">
            Submit
        </button>
		</form>
	</div>
</div>
</div>
{% endblock %}