{% extends "accounts/accounts-base.html" %}

{% block title %} 我的收藏 {% endblock %}

{% block account_content %}
<div class="row">
<div class="col-md-1"></div>
<div class="col-md-10">
	{% if menus %}
			{% for menu in menus %}
			<div class="sig-menu" style="border-bottom: 1px #e8e8e8 dotted;margin-bottom: 20px;">
			<div>
				<p>
				<a href="{% url 'menu_page' menu.folder_name %}" style="font-size:20px">
				{{ menu.name }}
				</a>
				<span style="float: right;">{{ menu.created_at |date:"Y年m月d日" }}</span>
				</p>
			</div>
			<p class="">{{ menu.description }}</p>
			{% if request.user and request.user.is_staff %}
			<div class="clearfix">
			<a href="{% url 'delete_collection' menu.folder_name %}" style="float: right; margin-bottom: 5px;font-size:10px;" class="btn btn-danger btn-sm">
			<span class="glyphicon glyphicon-trash"></span> 删除收藏</a>
			</div>
			{% endif %}
			
			</div>
			{% endfor %}
	    {% else %}
	    还没有收藏菜谱
	    {% endif %}
</div>
<div class="col-md-1"></div>
</div>
{% endblock %}