{% extends "accounts/accounts-base.html" %}

{% block head %}
{{ block.super }}
<style>
dt {
	height: 35px;
}

</style>

{% endblock %}

{% block title %}个人信息 {% endblock %}


{% block account_content %}
<div class="row">
	<div  class="profile-left col-md-6" style="margin-left:auto; margin-right:auto;font-size: 18px;">
		<dl class="dl-horizontal" >
			<dt>用户名</dt>
			<dd>{{ request.user.username }}</dd>
			<dt>昵称</dt>
			<dd>{{ profile.nikename }}</dd>
			<dt>性别</dt>
			{% if profile.gender == "M" %}
				<dd>男</dd>
			{% elif profile.gender == "F" %}
				<dd>女</dd>
			{% else %}
				<dd>未知</dd>
			{% endif %}
			<dt>生日</dt>
			<dd>{{ profile.birthday }}</dd>
			<dt>邮箱</dt>
			<dd>{{ profile.email }}</dd>
			<dt>手机</dt>
			<dd>{{ profile.phone }}</dd>
			<dt>qq</dt>
			<dd>{{ profile.qq_number }}</dd>
			<dt>简介</dt>
			<dd>{{ profile.self_intro }}</dd>

		</dl> 
		<a  class="btn btn-primary" href="/accounts/edit_profile/" style="float:right">
        编辑资料
		</a>
	</div>
	<div class="profile-right col-md-6">

	{% if profile.photo %}
	<img class="img-circle" src="{{ profile.photo.url }}">
	{% endif %}
	</div>
</div>
{% endblock %}