<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load bootstrap3 %}
{% block head %}
<head>
    <meta charset="UTF-8">
    <title>{% block title %}豫见{% endblock %}</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'css/common.css' %}" type="text/css" />
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
    
</head>
{% endblock %}
<body style="background-color:#f5f5f5">
    {% block navbar %}
    <div style="">
			<nav class="navbar navbar-default" role="navigation">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">主页</a>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li>
							 <a href="{% url 'show_menus' %}">菜谱</a>
						</li>
						<!-- <li>
							 <a href="#">Link</a>
						</li> -->
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li>
							 <a href="{% url 'show_cart' %}">购物车</a>
						</li>
						{% if user.is_authenticated %}
						<li class="dropdown">
							 <a href="#" class="dropdown-toggle" data-toggle="dropdown">
							 {{ user.username }}<strong class="caret"></strong></a>
							<ul class="dropdown-menu">
								<li>
									 <a href="/accounts/my_account/">我的账户</a>
								</li>
								<li>
									 <a href="{% url 'show_orders' %}">我的订单</a>
								</li>
								<li>
									 <a href="{% url 'show_collections' %}">我的收藏</a>
								</li>
								{% if user.is_staff %}
								<li class="divider">
								</li>
								<li>
									 <a href="/admin/">后台管理</a>
								</li>
								{% endif %}
								<li class="divider">
								</li>
								<li>
									 <a href="/accounts/logout">退出</a>
								</li>
							</ul>
						</li>
						{% else %}
						<li>
							 <a href="/accounts/login/">登录</a>
						</li>
						<li>
							<a href="/accounts/register/">注册</a>
						</li>
						{% endif %}
					</ul>
				</div>
			</nav>
			</div>
    {% endblock %}

{% block content %}

{%block page_content %}{% endblock %}

{% endblock %}

</body>

</html>