{% extends "base.html" %}

{% load staticfiles %}
{% load bootstrap3 %}
{% block title %}豫见{% endblock %}

{% block page_content %}
<div class="jumbotron">
	<a href="/product/6">
		<img class="img-responsive" src="{% static 'imgs/shanyao.jpg' %}"> 
	</a>
	<a href="/product/7">
		<img class="img-responsive" src="{% static 'imgs/lihe.jpg' %}"> 
	</a>
	<a href="/product/8">
		<img class="img-responsive" src="{% static 'imgs/dou.jpg' %}"> 
	</a>
</div>
<div class="container">
	{% include "_product_list.html" %}
</div>

{% endblock %}