{% extends "base.html" %}
{% load static %}
{% load bootstrap3 %}

{% block head %}
{{ block.super }}

{% load static %}
<link rel="stylesheet" href="{% static 'css/product.css' %}" type="text/css" />

{% endblock %}

{% block title %}{{ p.name }}{% endblock %}

{% block page_content %}
<div class="container">
    <div class="row" style="border:1px solid #E8E8E8; padding:20px 20px 20px 20px">
        <div class="col-md-5 product-img ">
            <div style="weight: 430px; height: 430px;text-align:center;display:table;">
                <div style="display:table-cell; vertical-align:middle">
                    <img src="{{ p.image.url }}" class="img-responsive" />
                </div>
            </div>
        </div>
        <div class="col-md-5 product-info">
            <div class="p-title">
                <div class="p-name"><h3>{{ p.name }}</h3></div>
                <div class="p-sub-title">增加一个sub_title字段</div>
            </div>            
            <div class="p-brand">
                <span>品牌</span>
                {{ p.brand }}
            </div>
            <ul id="prices">
                <li class="old-price">
                    <span>原价</span>
                    <div class="old-price-number">
                        <strong style="font-size: 14px; color: rgb(60, 60, 60); font-weight: 400; text-decoration: line-through;">
                        <em class="rmb">¥</em>
                        <em class="rmb-num">{{ p.price }}</em>
                        </strong>        
                    </div>
                </li>

                <li  class="discount-price">
                    <span>折扣价</span>
                    <div class="discount-price-number">
                        <div class="discount-price-number">
                            <strong style="font-size: 26px; font-weight: 700;color: #F40;">
                                <em class="rmb">¥</em>
                                <em id="tmp" class="rmb-num">{{ p.discount_price }}</em>
                            </strong>
                        </div>
                    </div>           
                </li>
            </ul>
            <div class="quantity">
                <span>剩余数量</span>
                {{ p.quantity }}
            </div>            
        </div>
        <div class="col-md-2 right-btns">
            <div id='add-cart-btn'>
                <form action="." method="post" class="form">
                    <!-- <div class="form-group row">
                    <label class="control-label col-sm-4" for="number" style="font-size:15px">数量</label>
                        <div class=" col-sm-8">
                            <input  type="number" class="form-control" value="1">
                        </div>
                    </div> -->
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <button type="submit" class="btn btn-default btn-block">加入购物车</button>
                </form>
                
            </div>
            <div id='collect-btn'>
                <button type="button" class="btn btn-default btn-block">收藏商品</button>
            </div>
        </div>
    </div>
</div>
<div class="container" style="margin-top:30px; display:block">
        <div class="row ">
            <div class="col-md-3 recommens" style="border:1px solid #E8E8E8">
                竖列表的商品推荐
            </div>
		    <div class="col-md-9 column">
			    <ul id="myTab" class="nav nav-tabs nav-justified">
				    <li class="active">
					    <a href="#details" data-toggle="tab">详细信息</a>
				    </li>
				    <li>
					     <a href="#comments" data-toggle="tab">商品评论</a>
				    </li>
			    </ul>
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade in active" id="details" >
                        {% autoescape off %}
                        {{ p.description}}
                        {% endautoescape %}
                    </div>
                    <div class="tab-pane fade" id="comments">
                        <p>iOS 是一个由苹果公司开发和发布的手机操作系统。最初是于 2007 年首次发布 iPhone、iPod Touch 和 Apple 
                            TV。iOS 派生自 OS X，它们共享 Darwin 基础。OS X 操作系统是用在苹果电脑上，iOS 是苹果的移动版本。</p>
                    </div>
                    
                </div>
	        </div>
	    </div>
</div>
{% endblock %}